<p>
  edit-user works!
</p>

<header>
    <h1>Modifier un utilisateur </h1>
  </header>
<!--   
  <label>Nom de l'utilisateur:</label><input type="text" value="{{user.username}}">
  <label>Adresse mail:</label><input type="email" name="email" value="{{user.email}}">   
 -->

 <h1>{{message}}</h1>
  <form (ngSubmit)="modify()"  #myform="ngForm">

      <div>
        <input type="hidden" name="id" [(ngModel)]="user.id">
      </div>
      <div>
        <label>Nom d'utilisateur</label><input name="username" [(ngModel)]="user.username" value="{{user.username}}">
      </div>
      <div>
        <label>Adresse</label><input name="adress" [(ngModel)]="user.adress" value="{{user.adress}}">
      </div>
      <div>
        <label>Adresse mail</label><input type="email" name="email" [(ngModel)]="user.email" value="{{user.email}}">
      </div>
      <div>
        <label>Mot de passe </label><input type="text" name="password" [(ngModel)]="user.password" value="{{user.password}}">
      </div>
    
      <button type="submit" [disabled]="!userForm.valid">Modifier</button>
    
    </form>