

<nav style="background-color: #C0C0C0">
  
  <ul class="container">
    <li>
        <h4>GestiBank!</h4>
    </li>
    <li>
      <p>
        <a routerLink="/users" ><img src="./assets/users.jpg" alt="" height="47" width="47"></a>
      </p>
    </li>
    <li>
<!--       <p>
        <a routerLink="/users/add">Ajouter un utilisateur</a>
      </p> -->
    </li>
    <li>
      <a routerLink="/users/add" class="btn-floating btn-large waves-effect waves-light red"><i class="large material-icons">add</i></a>
    </li>
  </ul>
 
</nav>



<!-- <app-users-list></app-users-list> -->

<router-outlet></router-outlet>

